@use "../vars";
@use "../mixins";

body.page-post {
	.container {
		padding-top: 3.75rem;
		padding-bottom: 3.75rem;

		aside,
		section.post-content {
			grid-column: 1 / 2;
		}

		aside {
			.post-meta {
				display: flex;
				flex-direction: row;
				align-items: top;
				justify-content: space-between;
				border-bottom: 1px solid vars.$c--tertiary;
				margin-bottom: 1.5rem;
				padding-bottom: 0.5rem;

				ul.tag-list {
					list-style: none;
					display: flex;
					gap: 0.5rem;
					padding-left: 0;
					flex-wrap: wrap;
				}
				p.small {
					margin-top: 0.625rem;
				}
			}
			.social-icons {
				list-style: none;
				display: flex;
				gap: 1.5rem;
				padding-left: 0;
				flex-wrap: wrap;
				li {
					a {
						padding: 0.625rem;
						border-radius: 2rem;
					}
				}
			}
		}

		.post-content {
			h2, h3, h4, h5, h6, figure {
				margin-bottom: 1em;
			}
		}
	}

	@include mixins.responsive('lg') {
		.container {
			padding-top: 7.5rem;
			padding-bottom: 7.5rem;

			aside {
				grid-column: 1 / 4;
			}

			section.post-content {
				grid-column: 4 / 11;
			}
		}
	}
}