@use "mixins";

.container {
	display: grid;
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	grid-template-columns: 1fr;
	gap: 2.5rem;

	@include mixins.responsive('lg') {
		margin: 0 auto;
		max-width: 1512px;
		padding-left: 40px;
		padding-right: 40px;
		grid-template-columns: repeat(12, 1fr);
		gap: 32px;
	}
}