@use "../../mixins";

section.layouts {
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
	
	&.no-padding-top {
		padding-top: 0rem !important;
	}
	&.no-padding-bottom {
		padding-bottom: 0rem !important;
	}
	.container {
		div:nth-child(1) {
			grid-column: 1 / 2;
		}
		div:nth-child(2) {
			grid-column: 1 / 2;
		}

		@include mixins.responsive('lg') {
			div:nth-child(1) {
				grid-column: 1 / 6;
			}
			div:nth-child(2) {
				grid-column: 7 / 13;
			}
		}
	}
	@include mixins.responsive('lg') {
		padding-top: 7.5rem;
		padding-bottom: 7.5rem;

	}
}