@use '../../vars';
@use '../../mixins';

.offices {
	background-color: vars.$c--navy;
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;

	&__container {
		display: flex;
		flex-direction: column;
		gap: 0px;
	}

	&__heading {
		color: vars.$c--white;
		margin-bottom: 2.5rem;
	}

	&__list {
		list-style: none;
		padding-left: 0px;
		margin-bottom: 0px;
		display: grid;
		gap: 2rem;
	}

	&__item {
		a {
			display: inline-block;
			text-decoration: none;
			border-radius: 0.5rem;
			overflow: hidden;
			-webkit-text-fill-color: unset;
		}
	}

	&__item-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: vars.$c--white;
		background-color: vars.$c--blue;
		padding: 1rem;

		h6 {
			margin-bottom: 0px;
		}
	}

	@include mixins.responsive('lg') {
		padding-top: 7.5rem;
		padding-bottom: 7.5rem;

		&__list {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
