@use '../../vars';
@use '../../mixins';

.sticky-text {
	background-color: vars.$c--navy;
	color: vars.$c--white;
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;

	&__container {
		gap: 2.5rem;
	}

	&__articles {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}

	&__article {
		background: #4287b54d;
		border-radius: 1rem;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		gap: 95px;

		&-icon {
			min-width: 80px;
			min-height: 80px;
			background-color: vars.$c--secondary1;
			border-radius: 0.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				width: 65%;
				height: 65%;
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
		}
	}

	@include mixins.responsive('lg') {
		padding-top: 7.5rem;
		padding-bottom: 7.5rem;
		&__article {
			padding: 2.5rem 2rem;
		}

		&__content {
			grid-column: 1 / span 5;
			position: sticky;
			top: 120px;
			align-self: flex-start;
			z-index: 2;
		}

		&__articles {
			grid-column: 7 / span 6;
			gap: 2.5rem;
		}
	}
}
