@use '../../vars';
@use '../../mixins';

.text-fill {
	background-color: vars.$c--navy;
	padding-top: 4.93rem;
	padding-bottom: 4.93rem;

	&__container {
		grid-template-columns: 1fr;
	}

	&__content {
		color: vars.$c--white;
		text-align: center;

		h3 {
			line-height: 140%;
			color: #fff;
		}

		.char {
			position: relative;
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			--highlight-offset: 0%;
			background-image: linear-gradient(
				90deg,
				white var(--highlight-offset),
				rgba(255, 255, 255, 0.075) var(--highlight-offset)
			);
		}
	}

	@include mixins.responsive('lg') {
		padding-top: 17.125rem;
		padding-bottom: 17.125rem;

		&__content {
			padding-left: 9rem;
			padding-right: 9rem;
		}
	}
}
