@use '../vars';

section.page-hero {
	background-color: vars.$c--secondary3;

	&.post {
		background-color: vars.$c--blue;
	}

	&.cover {
		height: 100vh;

		picture {
			position: relative;
			height: 100%;
			z-index: -1;
			background-color: transparent;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.container {
			position: height;
			z-index: 10;
			bottom: 0;
		}
	}
}